body{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(216, 163, 93, 0.836);
    background-color: rgb(234, 211, 178);
    margin:auto;
    padding: 20px;

}

.description {
    background-color: rgb(189, 113, 87);
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.recipes{
    font-weight: bold;
    font-size: 18px;
}

.links:link{
    color:  rgba(216, 163, 93, 0.836);
}

.links:hover{
    color: white; 
    font-size: 120%;
    transition: color 0.5s, font-size 0.5s;
}